

<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">{{blogname}}</h5>
    <p class="card-text">{{content}} </p> <br>
    <p>Made by {{user.user_name}} on {{datemade}}</p>
    <a href="#" class="btn btn-primary">Add comment</a>
  </div>
</div>