

<div class="blog-list">
<div class="card">
  <div class="card-body">
    Blogname: {{blogname}} <br> content: {{content}}
     <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="type here to update" aria-label="Type here to update" aria-describedby="button-addon2" id="bloginput">
  <button type="button" class="btn btn-primary" id="upblog" data-id2="{{id}}">Update</button>
</div>
    <br><button type="button" data-id="{{id}}" class="btn btn-primary" id="delblog">Delete</button>
  </div>
</div>

</div>