<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">{{blog.blogname}}</h5>
    <p class="card-text">{{blog.content}} </p> <br>
    <p>Made by {{blog.user.user_name}} on {{blog.datemade}}</p>
  </div>

</div>
 {{#if loggedIn}}
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Add comment" aria-label="Recipient's username" aria-describedby="button-addon2" id="commentinput">
  <button class="btn btn-outline-secondary" type="button" id="submitbtn">Submit</button>
</div>
  <script src="/js/comment.js"></script>
  {{/if}}

<h5>Comment section</h5>
   {{#each blog.comments as |comment|}}
    {{> all-comments}}
    {{/each}}