<div class="row">
  <div class="col-auto">
    <h2>Welcome!</h2>
    
  </div>
</div>
Your Posts:<br>
<button type="button" href="./newblog.handlebars" class="btn btn-primary" id="newblogpagebtn">+New Blog</button>
 {{#each Blogs as |Blog|}}
{{> dashboard-blogs}}
<script src="./js/dashboard.js"></script>
{{/each}}

