<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Blog title</label>
  <input type="email" class="form-control" id="blogtitle">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Blog content</label>
  <textarea class="form-control" id="blogtext" rows="3"></textarea>
  <button class="btn btn-primary" type="submit" id="newblogbtn">Submit</button>
</div>
<script src="../js/newblog.js"></script>