

<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  
</head>

<body>
  <div>
    <header>
      <h1>
         The Tech blog
      </h1>
    </header>
      <main>

     {{{ body }}}
      </main>
  </div>
  </body>

</html>