<!-- Add a comment indicating how this file fits into the MVC framework (is it a Model, a View, or a Controller?) and what it is responsible for handling. -->

<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
         The Tech blog
      </h1>
    </header>
      <main>

     {{{ body }}}
      </main>
  </div>
  </body>

</html>